<div>
    <div>
        <h4>Протокол консультации от 25 мая 2021</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dd><h5>Данные пациента</h5><hr /></dd>
            <dt>ФИО пациента</dt>
            <dd>Сельченков Михаил Васильевич</dd>
            <dt>Дата рождения</dt>
            <dd>6 Июня 1980</dd>
            <dt>Пол</dt>
            <dd>Мужской</dd>
            <dd><br /><h5>Общие сведения</h5><hr /></dd>
            <dt>Дата проведения</dt>
            <dd>25 мая 2021</dd>
            <dt>Сопроводительные документы </dt>
            <dd>
                <a target="_blank" href="attachments/discharge_20171020.docx"><img src="/attachments/mm.png" style="width:32px" runat="server"></a> - Выписка из истории болезни
                <br>
                <a target="_blank" href="attachments/usi_20181020.pdf"><img src="/attachments/mm.png" style="width:32px" runat="server"></a> - Протокол УЗИ-исследования грудной клетки от 21.01.2021
                <br>
                <a target="_blank" href="attachments/fluo_20181015.jpg"><img src="/attachments/fluo_20181015.jpg" style="width:32px" runat="server"></a> - Флюорограмма грудной клетки от 19.01.2021
                <br>
                <a target="_blank" href="attachments/CT_20181010.dicom"><img src='<%=Page.ResolveUrl(‘~/attachments/mm.png’) %>' style="width:32px"></a> - КТ грудной клетки от 21.10.2021
                <br>
            </dd>
            <dd><br /><h5>Описание случая</h5><hr /></dd>
            <dt>Жалобы</dt>
            <dd>В течение 2 лет отмечает «жгучие» боли за грудиной при ходьбе на большие расстояния, проходящие через несколько минут при остановке.</dd>
            <dt>Анамнез</dt>
            <dd>
                В течение года отмечает повышение АД до 190/110 мм.рт.ст, обычно бессимптомное, редко – сопровождается головной болью, носовыми кровотечениями, головокружением.
                ЭКГ 01.10.18. Положение ЭОС – нормальное; Ритм – фибрилляция предсердий тахисистолия желудочков. Гипертрофия левого желудочка. Недостаточность кровоснабжения миокарда субэндокардиальных отделов диффузного характера, преимущественно в области боковой стенки, области верхушки.
            </dd>
            <dt>Объективно</dt>
            <dd>Общее состояние средней тяжести. В сознании, адекватен, ориентирован, доступен продуктивному контакту. Кожные покровы, видимые слизистые обычной окраски, обычной влажности. Умеренного питания. Цианоза нет. Пастозность голеней и стоп. Грудная клетка правильной формы.</dd>
            <dd><br /><h5>Результат консультации</h5><hr /></dd>
            <dt>Выявленная патология</dt>
            <dd>R00.0 Тахикардия неуточненная</dd>
            <dt>Заключение</dt>
            <dd>Пациенту показано продолжение проводимой медикаментозной терапии, ограничение физической нагрузки, проведение холтеровского мониторирования сердца, СМАД. Повторная консультация через три месяца.</dd>
            <dt>Рекомендации</dt>
            <dd>Рекомендовано: продолжить прием бисопролола(конкор) 5 мг/сут, аторвастатина 20 мг/сут, кардиомагнила 75 мг на ночь.</dd>
        </dl>
        <hr />
        <table width="100%" class="outer">
            <colgroup>
                <col width="20%">
                <col width="60%">
            </colgroup>
            <tbody>
                <tr class="outer">
                    <th width="20%" class="outer">Автор:</th>
                    <td class="outer">Воробьев Александр Игоревич, Врач-сердечно-сосуддистый хирург</td>
                </tr>
            </tbody>
        </table>
        <br />
        <table width="100%" class="outer">
            <colgroup>
                <col width="20%">
                <col width="60%">
            </colgroup>
            <tbody>
                <tr class="outer">
                    <th width="20%" class="outer">Консультацию провёл:</th>
                    <td class="outer">Воробьев Александр Игоревич, Врач-сердечно-сосуддистый хирург</td>
                </tr>
                <tr class="outer">
                    <th width="20%" class="outer">Участвовал:</th>
                    <td class="outer">Крюкова Ольга Александровна, Врач-кардиолог</td>
                </tr>
            </tbody>
        </table>
        <br />
        <button type="submit" class="btn btn-primary">Вернуться к истории сообщений</button>
    </div>
</div>